In [1]:
import pandas as pd
import numpy as np
import os
import psycopg2 as pg2

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [4]:
con = pg2.connect(host='postgres',
                  user=os.getenv('POSTGRES_USER'),
                  password=os.getenv('POSTGRES_PASSWORD'),
                  database=os.getenv('POSTGRES_DB'))
con.autocommit = True
cur = con.cursor()

def select(sql):
    return pd.read_sql(sql,con)

In [5]:
sql = '''select * from d_date'''
select(sql)

/tmp/ipykernel_139/4069964824.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql,con)

DatabaseError: Execution failed on sql 'select * from d_date': relation "d_date" does not exist
LINE 1: select * from d_date
                      ^